*.log.chef
a.out

##### c/c++/golang #####
*.o
*.obj
*.gch
*.pch
# *.so
# *.so.*
# *.dylib
# *.dll
# *.la
# *.a
# *.lib
*.exe
*.out
_obj
_test
_testmain.go
*.test
*.prof

##### scons #####
.sconsign.dblite

##### cmake #####
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

##### makefile #####
# *.d

##### sublime text #####
*.sublime-workspace
*.sublime-project

##### vim #####
.*.swp
*tags*
.ycm_extra_conf.py
.ycm_extra_conf.pyc

##### xcode #####
xcshareddata
xcuserdata

##### virsual studio #####
.vs
*.vcxproj.filters
*.vcxproj.user

##### macos #####
._Store
.DS_Store

##### js #####
node_modules
npm-debug.log

##### sass #####
.sass-cache/
*.css.map

